body{
  scroll-behavior: smooth;

}



#logo{
height: 6rem;
width: 6rem;
position: absolute;
top:-10px;
left:1rem;

}
#BgImg1{
  position: absolute;
  top:60rem;
left: 0rem;
 
  height:90rem;

  width:118.96rem;
 


}




.navbar{
position: absolute;
background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);
 height: 5rem;
 left: 0rem;
 top:0rem;
 font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.5rem;
 transition: border 2s ease;

}


.navbar #tdL1{
  border-style: none none solid none;


}
a:link,a:visited{
text-decoration: none;
color: black;


}
.navbar #tdL:hover{
border-style: none none solid none;



}



.navbar #td1{
  width: 57rem;
}
.navbar #td5{
  width: 60rem;
}
.navbar #tdspace{
  width:3rem;
}

.BottomCont{
position: absolute;
top:70rem;
width: 118.95rem;
height:5rem;
background-color: #141414;
left: 0rem;

}


#Header1{
position: absolute;
top:8rem;
left: 10rem;
font-family: "Poppins", sans-serif;
font-weight: 600;
font-style: normal;
font-size: 2.5rem;


}

#Line1{
position: absolute;
width: 100rem;
top:13.5rem;
left:10rem;
background-color: black;
height: 5px;



}

#Desc1{
  position: absolute;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: black;
  top:14rem;
  left: 10rem;
font-size: 30px;



}
#Line2{
  position: absolute;
  width: 100rem;
  top:41.5rem;
  left:10rem;
  background-color: black;
  height: 5px;
  
  
  
  }
 

     #BgImg1{
  position: absolute;
  top:20rem;
 left:0rem;

  height: 52.75rem;
  width: 118.95rem;
 

}

.Logo1{
 position: absolute;
 height: 3rem;
 width: 3rem;
top:15.5rem;
left:11rem;



}
.Logo2{
  position: absolute;
  height: 3rem;
  width: 3rem;
  top:20.5rem;
  left:11rem;
 
 
 
 }
 .Logo3{
  position: absolute;
  height: 3rem;
  width: 3rem;
  top:25rem;
  left:11rem;
 
 
 
 }